<a href="@Href" class="card @CssClass">
    <div class="card-image-bg">
        @Image
    </div>
    <div class="card-content">
        @ChildContent
    </div>
</a>

@code {

    [Parameter] public string? Href { get; set; }
    [Parameter] public string? CssClass { get; set; }
    [Parameter] public RenderFragment? Image { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

}
