@page
@model MyHome.Pages.Costs.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Neuen Kostenpunkt erstellen</h1>

@if (!string.IsNullOrEmpty(Model.Error))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @Model.Error
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Year" class="control-label">Jahr</label>
                <input asp-for="Year" class="form-control" value="@(DateTime.Today.Year - 1)" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostTypeId" class="control-label">Art</label>
                <select asp-for="CostTypeId" asp-items="Model.CostTypes" class="form-control">
                    <option value="">Wählen Sie eine Art</option>
                </select>
                <span asp-validation-for="CostTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label">Wert</label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Bild</label>
                <input asp-for="Image" class="form-control" type="file" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Bemerkung</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" /> |
                <a asp-page="/Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
