@page
@model CreateModel
@{
    ViewData["Title"] = "Create a new family";
}

<div class="site-header">
    <h1>@ViewData["Title"]</h1>
</div>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Name" class="form-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-success mt-3" value="Create" />

</form>

<div>
    <a asp-page="/Index">Back</a>
</div>