@page
@model IndexModel
@{
    ViewData["Title"] = "Setup";
}

<section class="welcome">
    <h2>Welcome to MyHome</h2>
    <p>Here you can setup your Installation of MyHome.</p>
</section>

<a asp-area="Setup" asp-page="CreateAdminAccount" class="btn btn-primary">Create Admin Account</a>