@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="">
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
        asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
        <button type="submit" class="nav-link text-dark">
            <i class='bx bx-log-out icon'></i>
            <span class="text nav-text">Logout</span>
        </button>
    </form>
</li>
}

@section Scripts {

<script>

    const logoutBtn = document.querySelector("btn-logout");

    logoutBtn.addEventListener('click', function () {
        if (confirm("Do you really want to logout?")) {
            var request = new XMLHttpRequest();
            request.open("POST", "/Account/Logout?ReturnUrl=/");
            request.send();
        }
    });

</script>

}