@{
    const string Splitter = "/";

    string[] parts = Context.Request.Path.Value                             // Current Path
        .Split(Splitter)                                                    // Split by "/"
        .Where(p => !string.IsNullOrEmpty(p))                               // First Entry is empty
        .ToArray();                                                         // Because we look with "for"

    string currentPage = parts.Length > 0 ? parts.Last() : "Dashboard";     // Default Page is "Dashboard"
}

<div class="page-indicator">
    <nav style="--bs-breadcrumb-divider: '>'; line-height: 2rem; color: var(--text-color);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @if (parts.Length > 0)
                {
                    <a href="/" class="breadcrumb-link"><i class='bx bx-home' style="font-size: 22pt"></i></a>
                }
                else
                {
                    <i class='bx bx-home' style="font-size: 22pt"></i>
                }
            </li>
            @if (parts.Length > 1)
            {
                @for (int i = 0; i < parts.Length - 1; i++)
                {
                    <li class="breadcrumb-item" aria-current="page">@parts[i]</li>
                }
            }
            <li class="breadcrumb-item active" aria-current="page">@currentPage</li>
        </ol>
    </nav>
</div>